name: CHANGELOG.md Check
on:
  pull_request:
    branches:
      - main
      - v6
jobs:
  verify_changelog_job:
    runs-on: ubuntu-latest
    name: Did CHANGELOG.md change?
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: fetch
        run: git fetch
      - name: run changelog.sh
        run: 'bash ${GITHUB_WORKSPACE}/.github/workflows/scripts/changelog.sh'
